body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
}

.game{
    max-width:450px;
    margin:auto;
    padding:20px;
    text-align:center;
}

h2{
    margin-top:10px;
}

#multiplier{
    font-size:48px;
    font-weight:bold;
    margin:30px 0;
    color:#00ff88;
}

.plane{
    font-size:70px;
    margin:40px 0;
    transition:transform .1s linear;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:12px;
    font-size:20px;
    cursor:pointer;
}

#bet{
    background:#2196F3;
    color:white;
}

#cashout{
    background:#4CAF50;
    color:white;
}

#result{
    margin-top:30px;
    font-size:24px;
    font-weight:bold;
}
